body{
    background-color: antiquewhite;
}.container{
    width: 607px;
    height: 705px;
    margin: auto;
    margin-top: 15px;
    border-radius: 12px;
    background: rgb(19,7,84);
    background: linear-gradient(90deg, rgba(19,7,84,1) 0%, rgba(59,47,128,1) 100%);
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 04px;
    padding-top: 6px;
    
}
.top-bar input{
    display: flex;
    margin-top: 30px;
    width: 362px;
    height: 58px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}
.search-icon{
    display: flex;
    margin-top: 30px;
    justify-content:center ;
    align-items: center;
    width: 62px;
    height: 62px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;

}
.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 90px;
    font-weight: 400;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}